- name: "Query to see if cluster exists"
  expect:
    command: scli --query_cluster
    responses:
      "Press 'y' to approve this certificate and add it to the truststore": "y"
  register: cluster_results
  failed_when: not (cluster_results.rc == 0 or cluster_results.rc == 7)
  changed_when: not (cluster_results.rc == 0 or cluster_results.rc == 7)


- name: "Create New MDM Cluster"
  shell: 'scli --create_mdm_cluster --master_mdm_ip {{ vxflex_master_mdm_ip | join(",") }} --master_mdm_management_ip {{ vxflex_master_mdm_mgmt_ip | join(",") }} --master_mdm_name {{ vxflex_master_mdm_name }} --accept_license --approve_certificate'
  register: results
  when: "cluster_results.rc == 7"
  changed_when: (cluster_results.rc == 7 or cluster_results.rc == 0)


- name: "Get ScaleIO token for Auth"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/login
    return_content: yes
    user: "{{ vxflex_gateway_username }}"
    password: "admin"
    force_basic_auth: yes
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
  register: basic_auth
  ignore_errors: yes
  failed_when: not (basic_auth.status == 200 or basic_auth.status == 401)

- name: "Change Admin Password"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/instances/User/action/setPassword
    method: POST
    user: "{{ vxflex_gateway_username }}"
    password: "{{ basic_auth.json }}"
    body: {"oldPassword":"{{ vxflex_gateway_username }}", "newPassword":"{{ vxflex_gateway_pw }}"}
    force_basic_auth: yes
    body_format: json
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
  when: basic_auth.status == 200
  changed_when: basic_auth.status == 200


- name: "Get ScaleIO token for Auth"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/login
    return_content: yes
    user: "{{ vxflex_gateway_username }}"
    password: "{{ vxflex_gateway_pw }}"
    force_basic_auth: yes
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
  register: msg

- name: "Add Standby MDM to cluster"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/instances/System/action/addStandbyMdm
    method: POST
    user: "{{ vxflex_gateway_username }}"
    password: "{{ msg.json }}"
    body: {"ips": "{{ vxflex_standby_mdm_ip }}","managementIps":"{{ vxflex_standby_mdm_mgmt_ip }}","name":"{{ vxflex_standby_mdm_name }}","role":"Manager"}
    force_basic_auth: yes
    body_format: json
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
      - 500

- name: "Add TieBreaker MDM to cluster"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/instances/System/action/addStandbyMdm
    method: POST
    user: "{{ vxflex_gateway_username }}"
    password: "{{ msg.json }}"
    body: {"ips":"{{ vxflex_tiebreaker_mdm_ip }}","managementIps":"{{ vxflex_tiebreaker_mdm_mgmt_ip }}","name":"{{ vxflex_tiebreaker_mdm_name }}","role":"TieBreaker"}
    force_basic_auth: yes
    body_format: json
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
      - 446
  register: results
# failed_when: not (results.status == 0 or results.status == 446)

- name: "results stuff"
  debug:
    var: results


- name: "Query MDM Cluster to get Ids"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/instances/System/queryMdmCluster
    return_content: yes
    method: POST
    body: {}
    body_format: json
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
  register: output

#- name: "Query to see if cluster is set at 3 node"
#  expect:
#    command: scli --query_cluster
#    responses:
#      "Press 'y' to approve this certificate and add it to the truststore": "y"
#  register: cluster_results
#  failed_when: not (cluster_results.rc == 0 or cluster_results.rc == 7)
#  changed_when: not (cluster_results.rc == 0 or cluster_results.rc == 7)


- name: "Change to 3 node cluster"
  uri:
    url: https://{{ vxflex_gateway_ip }}:{{ vxflex_gateway_https_port }}/api/instances/System/action/switchClusterMode
    method: POST
    user: "{{ vxflex_gateway_username }}"
    password: "{{ msg.json }}"
    body: {"mode":"ThreeNodes","addSlaveMdmIdList":["{{ output.json.standbyMDMs[0].id }}"],"addTBIdList":["{{ output.json.standbyMDMs [1].id }}"]}
    force_basic_auth: yes
    body_format: json
    validate_certs: False
    status_code:
      - 200
      - 201
      - 202
  when: "cluster_results.rc == 7"
